@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --blanc: #ffffff;
  --jaune: #fab637;
  --rouge: #ff4848;
  --orange: #cc6119;
  --gris: #eceff3;
  --noir: #232628;
  --bleu: #6c98e1;
}
/* Typographie générale */
body,
form,
p {
  font-family: "Open Sans", sans-serif;
  color: var(--noir);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h1,
h2,
h3,
h4,
.mainNav {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.orange {
  color: var(--orange);
  font-weight: bold;
}

.accessibility {
  color: var(--blanc);
}

/* Main Header */
.mainHeader {
  display: flex;
  justify-content: space-around;
  background-color: var(--noir);
  height: 70px;
  padding: 20px;
  gap: 20px;
  align-items: center;
  top: 0;
  z-index: 1000;
}

.mainHeader h1 {
  font-size: 3em;
  margin-left: 160px;
}

.icone,
.servicesIcone,
.iconeTelephone {
  width: 40px;
}

/*  Styles */
.plusLarge {
  font-size: 1.2em;
}

.plusEpais1 {
  font-size: 1.7em;
  font-weight: bolder;
}

.plusEpais2 {
  font-size: 1.3em;
  font-weight: bold;
}

/* Contact et Medias */
.contact-info,
.ouverture-horaires,
.social-media {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-media {
  margin-right: 7%;
}

.contact-info p,
.ouverture-horaires p {
  font-size: 80%;
  color: var(--blanc);
  margin: 0;
}

/* Main Navigation */
.mainNav {
  position: relative;
  background-color: rgba(236, 239, 243, 0.7);
  width: 100%;
  z-index: 100;
  height: auto;
}

.mainNav a,
.offresVehicules a {
  color: inherit;
  text-decoration: none;
}

.mainNav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 0;
  padding-right: 10%;
  gap: 20px;
  font-size: 90%;
}

.mainNav li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 19px 20px 15px 20px;
  font-weight: 750;
}

.survol {
  color: var(--blanc);
  background-color: var(--orange);
  margin: 0;
}

/* Accueil Section */
#photoAccueil,
.photoAccueil {
  width: 100%;
  height: 720px;
  object-fit: cover;
  object-position: center top;
  display: block;
}

#photoAccueil {
  overflow: hidden;
  position: relative;
  transform: translateY(-60px);
}

.photoAccueil {
  margin-top: -20px;
}

/* Slogan */
.slogan {
  margin-top: -11vh;
  color: var(--blanc);
  background-color: var(--noir);
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0em;
}
.slogan h2 {
  font-size: 2.8em;
  text-align: left;
  margin-left: 10%;
}

/* Images des clients */
.clientsImg1,
.clientsImg2 {
  position: relative;
  width: 50vw;
  max-width: 100%;
}

.clientsImg1 {
  margin-top: 3vh;
  margin-bottom: 1vh;
}

.clientsImg2 {
  margin-top: 15vh;
}

/* Articles */
.articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  max-width: 90%;
  margin: 2rem 15rem 0;
  align-items: start;
  margin-bottom: 5rem;
  font-size: 1.4rem;
}

.souligne {
  border-bottom: 0.12rem solid var(--gris);
  padding-bottom: 2.5rem;
  margin-bottom: 2rem;
  width: 100%;
}

/* Clients */
.client,
.client li {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0.8rem;
  line-height: 2.5;
  font-weight: 500;
}

.client li::before {
  content: "\2714";
  margin-right: 1rem;
  color: var(--orange);
  font-size: 0.75rem;
}

.articles p,
ul {
  font-size: 1rem;
  line-height: 1.8;
  list-style-type: none;
}

.article1,
.article2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

/* Section Louer ou Acheter */
#louerOuAcheter {
  position: relative;
  width: 100%;
}
.vehiculesLouerOuAcheter {
  background-image: url(/images/vehicule1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.louer,
.acheter {
  position: absolute;
  top: 50%;
  width: 50%;
  max-width: 35rem;
  height: auto;
  color: white;
  padding: 4rem 5rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  opacity: 0.9;
  transform: translateY(-50%);
}

.louer {
  background-color: var(--jaune);
  left: calc(50% - 35rem);
}

.acheter {
  background-color: var(--rouge);
  left: calc(50% + 3rem);
}

.louer h2,
.acheter h2 {
  margin-left: 0;
  padding: 0;
  color: var(--noir);
  font-size: 1.9rem;
  font-weight: bold;
  text-align: start;
  white-space: nowrap;
}

.louer p,
.acheter p {
  margin-top: -1.25rem;
  color: var(--blanc);
}

/* Section Offres de Véhicules */
.offresVehicules {
  background-color: var(--noir);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  padding: 1.25rem 0 3rem;
}

.titreVehicules {
  margin-top: 1%;
  width: 73%;
  text-align: center;
  color: var(--blanc);
  border-bottom: 0.25rem solid var(--orange);
  font-size: 1.8rem;
  line-height: 0.3;
}

.vehiculesContainer {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  justify-content: flex-start;
}

/* Véhicules Récents */
.vehiculeRecents {
  flex: 1;
  max-width: 25rem;
}

.vehiculeRecents img {
  width: 100%;
  height: auto;
  margin-top: 1.25rem;
}

.vehiculeRecents p {
  color: var(--blanc);
  text-align: start;
  font-family: "Montserrat", sans-serif;
}

.vehiculeRecents .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #373c3f;
  height: 7.5rem;
  position: relative;
  margin-top: 0.6rem;
}

.vehiculeRecents .info::after {
  content: "";
  position: absolute;
  bottom: 1.3rem;
  left: 5%;
  width: 87%;
  height: 0.1rem;
  background-color: gray;
  opacity: 0.5;
}

.modele {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--blanc);
  margin: 0 1.9rem 0.6rem 1.25rem;
  padding-bottom: 0.6rem;
  line-height: 1.2;
}

/* Prix */
.prixCliquable,
.prix,
.prixCasse {
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--blanc);
  background-color: var(--bleu);
  padding: 1rem 1.3rem;
  text-align: start;
  display: inline-flex;
  margin-bottom: 3rem;
  margin-right: 1.2rem;
}

.prix {
  margin-left: 2.1rem;
}

.prixCliquable {
  width: 30%;
}

.prixCasse {
  display: flex;
  flex-direction: column;
  line-height: 1;
  padding: 0.6rem 1rem;
  margin-right: 1.2rem;
  white-space: nowrap;
}

.prixCasse span {
  color: var(--noir);
  font-weight: 500;
  font-size: 0.7rem;
  text-decoration: line-through;
  text-align: center;
}
/* Informations de contact */
.contactInfos {
  display: flex;
  flex-direction: row;
  margin-left: 15%;
  margin-right: 15%;
  text-align: left;
  gap: 2rem; /* Remplace 30px  */
}

/* Services */
.services {
  position: relative;
  padding-left: 2.5rem;
}

.services img {
  margin-top: 25%;
  margin-right: -1rem;
  height: 8vh;
  width: auto;
}

.services p {
  color: grey;
  margin-top: 0.6rem;
  margin-bottom: 0.3rem;
  text-align: start;
  line-height: 1.3em;
}

.services h2 {
  text-align: center;
  font-size: 2.7rem;
  padding: 1.25rem;
  justify-content: center;
  margin-bottom: 4%;
}

.services h3 {
  text-align: left;
  font-weight: 800;
  font-size: 1rem;
  white-space: nowrap;
}

/* Bouton Contact */
.bouttonContact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 3.7rem 0 4.4rem 0; /* Remplace 60px et 70px */
}

.contactezNous {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  color: var(--blanc);
  background-color: var(--bleu);
  padding: 1rem 2rem; /* Remplace 15px et 30px */
  border-radius: 0.3125rem; /* Remplace 5px */
  border-color: #9bbcf0;
}

/* Paragraphe Vente et Location */
.paragrapheVenteEtLocImg {
  background-image: url(/images/vehicule3.jpg);
  background-size: cover; /* L'image couvre toute la section */
  background-position: center; /* L'image est centrée */
  background-repeat: no-repeat; /* Évite que l'image se répète */
  height: 100vh; /* Hauteur de la section (100% de la hauteur de la fenêtre) */
  z-index: -2;
}

.paragrapheVenteEtLoc {
  position: relative;
  width: 100%;
}

/* Vente et Location */
.venteEtLoc {
  position: absolute;
  top: 10%;
  left: 15%;
  opacity: 0.9;
  z-index: 10;
  width: 37rem; /* Remplace 600px */
  height: 21rem; /* Remplace 350px */
  color: var(--noir);
  font-weight: 600;
  padding: 4rem; /* Remplace 60px */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--jaune);
}

.venteEtLoc h2 {
  font-size: 2.5rem;
  font-weight: 750;
  white-space: nowrap;
  line-height: 1em;
  margin-bottom: 1rem;
}

.venteEtLoc span {
  color: var(--blanc);
}

/* Bas de page */
.basDepage {
  position: relative;
}

.sectionHorairesReseaux {
  background-color: var(--noir);
  position: relative;
}

.sectionHorairesReseaux::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 15%;
  width: 70%;
  border-bottom: 1px solid gray;
  opacity: 0.7;
}

.horairesReseaux {
  color: var(--blanc);
  margin-left: 15%;
  margin-right: 12%;
  display: flex;
  gap: 2rem;
  text-align: left;
  margin-top: -0.6rem;
  justify-content: space-between;
  padding: 2% 0 1% 0;
  align-items: flex-start;
}

.horairesReseaux > div {
  flex: 1;
  max-width: 25%;
}

.horairesReseaux h4,
.horairesReseaux p {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

.horairesReseaux p {
  color: gray;
  margin-top: 0.3rem;
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

.heure {
  color: whitesmoke;
  font-weight: 300;
}

.horairesSemaine p {
  margin-top: 0.8rem;
  white-space: nowrap;
  font-weight: 600;
  line-height: 0.6em;
}

.logoReseaux {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: 0.3rem;
}

.logoReseaux svg {
  height: 3rem;
  width: auto;
  margin: 0.2rem;
}

.newsletterFormulaire svg {
  height: 2.75rem;
  width: auto;
}

.newsletterFormulaire {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.newsletterFormulaire form {
  display: flex;
  align-items: center;
  flex: 1;
}

.newsletterPlaceholder {
  height: 2.5rem;
  width: 15rem;
}

.newsletterPlaceholder::placeholder {
  color: gray;
  padding-left: 0.9rem;
  font-size: 0.9rem;
}

.svgFormulaire {
  display: flex;
  align-items: center;
}

.titreBleu {
  color: var(--bleu);
}

.horairesReseaux h4 {
  text-align: left;
  margin-left: 0;
  margin-right: 0;
}

.titreH4 {
  display: flex;
  margin-top: 0;
  white-space: nowrap;
  padding-bottom: -1.25rem;
}

.mainFooter {
  background-color: var(--noir);
  padding: 0.6rem;
}

.mainFooter p {
  color: gray;
  text-align: center;
  opacity: 0.9;
}
/* Page de Visite */
.pageVisite {
  border-bottom: var(--gris) 1px solid;
  opacity: 0.9;
  font-size: 0.9rem;
  font-weight: 200;
  max-width: 81rem;
  width: 100%;
  margin: auto auto -1% 10%;
}

/* Détail du Véhicule */
.detailVehicule {
  max-width: 65%;
  width: 100%;
  margin-left: 9%;
}

.detailVehicule img {
  max-width: 75%;
  height: auto;
  margin-bottom: 3.1rem;
}

.detailVehicule h1 {
  font-size: 2.5rem;
  margin-bottom: 1.2rem;
}

/* Navigation de Description */
.navDedescription {
  background-color: var(--noir);
  color: var(--blanc);
  padding: 0.6rem;
  margin-bottom: 4%;
  height: 3.1rem;
}

.ongletSelection {
  background-color: var(--blanc);
  color: var(--noir);
  font-weight: 800;
  padding: 1.6rem 1.25rem;
  margin: -1.9rem -1.9rem -1.9rem -2.9rem;
  border-top: var(--orange) 0.3rem solid;
}

.navDedescription ul {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  font-family: "Montserrat", sans-serif;
  font-size: 0.9rem;
  font-weight: bold;
}

/* Paragraphes */
.paragraphe1 {
  font-size: 1.1rem;
  font-weight: 400;
}

.paragraphe2 {
  font-weight: 600;
}

.paragraphe3 {
  border-left: var(--orange) 0.3rem solid;
  height: 3.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraphe3 p {
  padding-left: 2.5rem;
  font-style: italic;
  color: gray;
  opacity: 0.8;
}

/* Liste des Options */
.listeOptions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  margin-bottom: 4.4rem;
}

.puceListe {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.puceListe li {
  position: relative;
  padding-left: 2.5rem;
  margin-bottom: 0.6rem;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 1.2rem;
}

.puceListe li::before {
  content: "\2714";
  font-size: 0.6rem;
  color: var(--blanc);
  background-color: var(--orange);
  border-radius: 50%;
  width: 0.9rem;
  height: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Formulaire */
.formulaireBody {
  background-color: var(--gris);
}

.formulaireSectionContactezNous {
  position: relative;
}

.formulaireSectionContactezNous img {
  width: 100%;
  height: 23rem;
  object-fit: cover;
  object-position: center top;
  margin-top: -3.7rem;
  margin-bottom: 21rem;
}

.formulaire {
  position: absolute;
  top: 15%;
  left: 15%;
  z-index: 10;
  width: 70%;
  background-color: var(--blanc);
  box-sizing: border-box;
  padding: 2.5rem 5rem;
}

.formulaire h2 {
  color: var(--noir);
  margin-bottom: 1.3rem;
  font-size: 2.5rem;
}

.formulaireChampACompleter {
  display: flex;
  justify-content: space-between;
  gap: 0.6rem;
}

.formulaireColonne {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.formulaireColonne textarea {
  height: 10rem;
  background-color: var(--gris);
  border: none;
  margin: 0;
  padding: 0;
}

.formulaireColonne label {
  margin-top: 1.9rem;
  font-weight: 500;
}

.contactezNous {
  align-self: flex-start;
  margin-top: 0.6rem;
  font-size: 0.9rem;
}

.formulaireColonne input {
  background-color: var(--gris);
  height: 2.9rem;
  width: 18.8rem;
  padding-left: 1.9rem;
  border: none;
  box-sizing: border-box;
  color: gray;
  font-size: 0.9rem;
}

.formulaireColonne textarea {
  resize: none;
  color: gray;
  font-size: 0.9rem;
  padding: 0.9rem 0 0 1.2rem;
}
@media (max-width: 960px) {
  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    max-width: 100%;
  }

  img {
    max-width: 100%;
  }

  .containerResponsive {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
  }

  .containerResponsive * {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    position: static;
  }

  .mainHeader h1,
  .icone,
  .ouverture-horaires,
  .social-media,
  .photoAccueil,
  .mainNav {
    display: none;
  }

  .mainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 30px 0 100px;

    overflow: hidden;
  }

  .iconeTelephone {
    width: 55px;
  }

  .plusEpais1 {
    margin-top: 0.2rem;
  }
  .contact-info {
    margin-top: 120px;
    margin-left: 25px;
    font-weight: 700;
    font-size: 1.1em;
  }

  .menuBurger {
    margin-top: -10px;
    display: flex;
    z-index: 1000;
    margin-left: auto;
    margin-right: 30px;
    height: auto;
    width: 60px;
  }

  .slogan {
    display: flex;
    position: static;
    margin-top: -720px;
    padding-bottom: 40px;
  }

  .slogan h2 {
    text-align: left;
    margin: 10px 0 0 30px;
  }

  .offresVehicules,
  .services,
  .paragrapheVenteEtLoc,
  .articles {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .vehiculesContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
  }

  .articles p,
  .articles h2,
  .articles ul {
    margin: 0 5%;
    overflow: hidden;
  }

  .articles img {
    width: 90%;
    margin: 50px 5%;
  }

  .louerOuAcheter {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 200vh;
    overflow: hidden;
    position: relative;
    padding-top: 10px;
    background-size: cover;
    z-index: -1;
  }

  .vehiculesLouerOuAcheter {
    height: 100%;
    width: 100%;
    opacity: 0.8;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }

  .divDeLouerOuAcheter {
    position: relative;
    margin: 20px auto 50px;
    z-index: 1;
    overflow: hidden;
  }

  .louer,
  .acheter {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .louer {
    margin-top: 60%;
  }

  .acheter {
    margin-top: 10%;
  }

  .louer h2,
  .acheter h2 {
    max-width: 50%;
    margin: 50px auto 6%;
    white-space: normal;
    font-size: 2.2em;
  }

  .louer p,
  .acheter p {
    max-width: 50%;
    margin: 0 auto 15%;
    font-size: 1.3em;
  }

  .vehiculeRecents:nth-of-type(2),
  .vehiculeRecents:nth-of-type(3) {
    display: none;
  }

  .vehiculesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10%;
  }

  .titreVehicules {
    padding: 10%;
    line-height: 1.3;
    font-size: 2.1em;
    z-index: 12;
    width: 70%;
  }
  .vehiculeRecents {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  .info {
    padding: 15% 5%;
    overflow: hidden;
  }
  .prixCliquable {
    position: absolute;
    left: 15%;
    bottom: 60%;
    padding: 20px 0px 20px 15px;
    font-size: 1.4em;
  }

  .modele {
    display: inline-block;
    text-align: justify;
    white-space: normal;
    word-spacing: 2px;
    font-size: 1.5em;
    width: 140%;
    margin-top: 25%;
    margin-bottom: 5%;
  }
  .services {
    padding: 20px;
    text-align: center;
  }

  .contactInfos {
    display: grid;
    gap: 20px;
    justify-content: stretch;
    align-items: center;
    overflow: hidden;
    width: 80%;
    margin-bottom: 15%;
  }

  .item1,
  .item2,
  .item3,
  .item4 {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 30px;
    align-items: start;
    margin-bottom: 5%;
  }

  .servicesIcone {
    max-width: 100px;
    height: auto;
  }

  .item1,
  .item2,
  .item4 {
    margin-left: 30px;
  }

  .item3 {
    margin-left: 10px;
  }

  .text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 5% 0;
    margin: 5% 0;
  }

  .services h3 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
    padding: 0;
    max-width: 90%;
    overflow: visible;
    white-space: normal;
  }

  .services p {
    padding: 0;
    margin: 0;
    max-width: 80%;
    font-size: 1.3em;
    text-align: left;
  }
  .contactezNous {
    padding: 4% 8%;
    margin-right: 10%;
    margin-bottom: 10%;
  }

  .paragrapheVenteEtLoc {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding-top: 50%;
    background-size: cover;
    z-index: -1;
  }

  .divDeParagrapheVenteEtLoc {
    position: relative;
    margin: 20px auto 50px;
    z-index: 1;
    overflow: hidden;
  }

  .paragrapheVenteEtLocImg {
    height: 100%;
    width: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
  }

  .venteEtLoc {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }
  .venteEtLoc h2 {
    font-size: 2.9em;
    line-height: 1.4;
    margin: 50px 0 0 0;
    padding: 10%;
    max-width: 90%;
    overflow: visible;
    white-space: normal;
  }
  .venteEtLoc p {
    margin: 0 0 15%;
    padding: 5% 10% 10% 10%;
    font-size: 1.6rem;
    max-width: 90%;
    overflow: visible;
    white-space: normal;
  }
  .sectionHorairesReseaux {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
  }

  .horairesReseaux > div {
    flex: 1; /* Permet aux divs de s'étendre */
    max-width: none; /* Enlève la contrainte de largeur */
    /* margin: 3% 0 0;
    padding: 3% 0 0; */
    overflow: hidden;
  }

  .horairesReseaux {
    display: flex;
    min-width: 100%;
    flex-direction: column;
    flex-grow: 1;
  }

  .horairesReseaux h4 {
    margin: 2%;
  }
  .horairesSemaine {
    width: 100%;
    height: auto;
  }
  .horairesSemaine p,
  .horairesSemaine h4,
  .horairesReseaux p {
    height: auto;
    width: auto;
    margin: 2% 0 2% 3%;
    padding: 1%;
    overflow: hidden;
  }

  .horairesReseauxTitreBleu {
    margin: 1% 10% 0 1%;
    text-align: left;
  }

  .horairesReseauxTitreBleu h4 {
    padding-left: 2%;
  }
  .horairesReseauxNewsletter,
  .horairesReseauxLogoReseaux {
    margin-left: 3%;
    padding-bottom: 6%;
  }
  .horairesReseauxNewsletter h4,
  .horairesReseauxLogoReseaux h4 {
    margin: 0 8% 5% 0;
  }

  .sectionHorairesReseaux::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    border-bottom: 1px solid gray;
    opacity: 0.7;
  }

  .logoReseaux svg {
    height: 60px;
    width: auto;
    gap: 3%;
  }

  .horairesReseauxNewsletter p {
    margin: 0 8% 0 0;
  }
  .mainFooter {
    padding: 6% 0% 10% 0;
  }
}
